/* Fonts (kõik on 100% free) */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf");
}

@font-face {
  font-family: "Graffiti";
  src: url("../fonts/logofont.ttf");
}

/* Main styling */
:root {
  --text-color: #D6D6D6;
  --nav-bar-color: #2C2B30;
  --bg-color: #555555;
  --toode-bg-color: #505050bd;
  --toode-fade-color: #494949bd;


}

/* Lehe taust */
body {
  background-color: var(--bg-color);
  background-image: url("../pildid/mmr.png");
}

/* Linkid */
a {
  text-decoration: none;
  color: inherit;
}

/* Nav bari ristkülik */
#rectangle{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 13vh;
  background: var(--nav-bar-color);
  z-index: 5;
}


/* Nav bari tekst */
h1 {
  position: fixed;
  margin: auto;
  top: 4vh;
  left: 37vw;
  font-family: "Rubik";
  font-size: min(2vw, 5vh);
  color: var(--text-color);
  transition: 0.1s;
  z-index: 6;
}

h1:hover {
  color: white;
  top: 2vw;
}

#MMR {
  top: 3.6vh;
  left: 1.5vw;
  font-size: min(3vw, 7vh);
  font-family: "Graffiti";
}

#MMR:hover{
  color: rgb(209, 138, 88)
}

#meist {
  left: 47vw;
}

#info {
  left: 55vw;
}

/* Teksti stiil root */
p {
  z-index: 1;
  font-family: 'Roboto';
  font-size: 2vw;
  position: absolute;
  top: 13vh;
  left: 0.75vw;
  width: 50vw;
  color: var(--text-color);
}

* {box-sizing:border-box}



/* Slideshow container */
/* https://www.w3schools.com/howto/howto_js_slideshow.asp */
.slideshow-container {
  top: 7vh;
  left: 0%;
  width: 100vw;
  height: 93vh;
  position: absolute;
  z-index: 2;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-family: "Roboto";
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}