/* tooted.html */
#extender {
    position: absolute;
    top: 140vh;
    color: var(--bg-color);
    z-index: -3;
  }
  
  .toode {
    position: absolute;
    left: 1.25vw;
    top: 9vw;
    width: 31vw;
    height: 31vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--toode-bg-color);
    z-index: -3;
    transition: 0.2s;
    border-color: var(--toode-fade-color);
  }
  
  .toode:hover {
    background-color: var(--toode-fade-color);
    border: solid;
    border-width: 4px;
    border-color: var(--toode-fade-color);
    
    & > #tooteinfo {
      color: rgba(255,255,255,1);;
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    }
  }
  
  #tooteinfo {
    position: relative;
    font-family: "Roboto";
    font-size: 2.5vw;
    color: rgba(255,255,255,0);
    top: 25vw;
    text-align: center;
    text-anchor: middle;
    transition: 0.2s;
    z-index: -2;
  }
  
  
  .toode1 {
    z-index: -2;
    background-image:url('../pildid/tootepildid/tshirt.png');
  }
  
  .toode2 {
    z-index: -2;
    left: 34.35vw;
    background-image:url('../pildid/tootepildid/tshirt2.png');
  }
  
  .toode3 {
    z-index: -2;
    left: 67.3vw;
    background-image:url('../pildid/tootepildid/tshirt3.png');
  }
  
  .toode4 {
    top: 42vw;
    z-index: -2;
    background-image:url('../pildid/tootepildid/hoodie.png');
  }
  
  .toode5 {
    top: 42vw;
    left: 34.35vw;
    z-index: -2;
    background-image:url('../pildid/tootepildid/hoodie2.png');
  }
  
  .toode6 {
    top: 42vw;
    left: 67.3vw;
    z-index: -2;
    background-image:url('../pildid/tootepildid/cap.png');
  }