@font-face {
    font-family: "Rubik";
    src: url("fonts/Rubik.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto.ttf");
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: rgb(245, 235, 235);
}

#rectangle{
    top: 0;
    left: 0;
    position: fixed;
    width:100%;
    height: 7vw;
    background:rgb(51, 41, 41);
    z-index: -1;
}

#top {
    position: fixed;
    margin: auto;
    top: 1.5vw;
    left: 1vw;
    font-family: "Rubik";
    font-size: 3vw;
    color: rgb(245, 235, 235);
}


h2 {
    position: fixed;
    top: 2.1vw;
    left: 40vw;
    margin: auto;
    font-family: "Rubik";
    font-size: 2vw;
    color: rgb(245, 235, 235);
}

#meist {
    left: 50vw;
}

#info {
    left: 58vw;
}


p {
    z-index: -2;
    font-family: 'Roboto';
    font-size: 2vw;
    position: absolute;
    top: 7vw;
    left: 0.75vw;
    width: 50vw;
    color: rgb(51, 41, 41);
}




* {box-sizing:border-box}

/* Slideshow container */
/* https://www.w3schools.com/howto/howto_js_slideshow.asp */
.slideshow-container {
    top: 10vw;
    left: 15%;
    width: 70%;
    position: absolute;
    z-index: -3;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* meist.html */
#infomeist {
  font-size: 1.35vw;
  width: 65vw;
}

#meiepilt {
  position: absolute;
  width: 30vw;
  top: 8vw;
  right: 2vw;
  z-index: -2;
}



/* info.html */
.mapouter {
  position:relative;
  left:57%; 
  top: 8vw; 
  height:42vw; 
  width:42vw; 
  background:#fff;
  z-index: -3;
} 

.maprouter a{
  color:#fff;
  position: absolute;
  top: 0;
  z-index: -2;
}
.gmap_canvas {
  overflow: hidden;
  height: 42vw;
  width: 42vw;
  z-index: -3;
}
.gmap_canvas iframe {
  position: relative;
  z-index: -2;
}


/* tooted.html */
.toode {
  position: absolute;
  left: 2vw;
  top: 9vw;
  width: 31vw;
  height: 31vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(235, 225, 225);
  z-index: -3;
}

.toode1 {
  z-index: -2;
  background-image:url('pildid/tootepildid/tshirt.png');
}

.toode2 {
  z-index: -2;
  left: 35vw;
  background-image:url('pildid/tootepildid/tshirt2.png');
}

.toode3 {
  z-index: -2;
  left: 68vw;
  background-image:url('pildid/tootepildid/tshirt3.png');
}

.toode4 {
  top: 42vw;
  z-index: -2;
  background-image:url('pildid/tootepildid/hoodie.png');
}

.toode5 {
  top: 42vw;
  left: 35vw;
  z-index: -2;
  background-image:url('pildid/tootepildid/hoodie2.png');
}

.toode6 {
  top: 42vw;
  left: 68vw;
  z-index: -2;
  background-image:url('pildid/tootepildid/cap.png');
}