@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto.ttf");
}

@font-face {
  font-family: "Graffiti";
  src: url("fonts/logofont.ttf");
}

/* Main styling */
:root {
  --text-color: #D6D6D6;
  --nav-bar-color: #2C2B30;
  --bg-color: #555555;
  --toode-bg-color: #505050;
  --toode-fade-color: #494949;


}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--bg-color);
}

#rectangle{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 7vw;
  background: var(--nav-bar-color);
  z-index: -1;
}


h1 {
  position: fixed;
  margin: auto;
  top: 2.1vw;
  left: 37vw;
  font-family: "Rubik";
  font-size: 2vw;
  color: var(--text-color);
  transition: 0.1s;  
}

h1:hover {
  color: white;
  top: 2vw;
}

#MMR {
  top: 1.8vw;
  left: 1.5vw;
  font-size: 3vw;
  font-family: "Graffiti";
}

#MMR:hover{
  color: rgb(209, 138, 88)
}

#meist {
  left: 47vw;
}

#info {
  left: 55vw;
}


p {
  z-index: -2;
  font-family: 'Roboto';
  font-size: 2vw;
  position: absolute;
  top: 7vw;
  left: 0.75vw;
  width: 50vw;
  color: var(--text-color);
}

* {box-sizing:border-box}

/* Slideshow container */
/* https://www.w3schools.com/howto/howto_js_slideshow.asp */
.slideshow-container {
  top: 7vw;
  left: 0%;
  width: 100%;
  position: absolute;
  z-index: -3;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* meist.html */
#infomeist {
  font-size: 1.35vw;
  width: 65vw;
}

#meiepilt {
  position: absolute;
  width: 30vw;
  top: 8vw;
  right: 2vw;
  z-index: -2;
}



/* info.html */
#kontakt{
  z-index: 1;
  font-size: 1.5vw;
}

.mapouter {
  position:relative;
  left: 54vw; 
  top: 8vw; 
  height:42vw; 
  width:44vw; 
  background:#fff;
} 

.maprouter a{
  color:#fff;
  position: absolute;
  top: 0;
}
.gmap_canvas {
  overflow: hidden;
  height: 42vw;
  width: 44vw;
}
.gmap_canvas iframe {
  position: relative;
}


/* tooted.html */
#extender {
  position: absolute;
  top: 140vh;
  color: var(--bg-color);
  z-index: -3;
}

.toode {
  position: absolute;
  left: 1.25vw;
  top: 9vw;
  width: 31vw;
  height: 31vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--toode-bg-color);
  z-index: -3;
  transition: 0.2s;
  border-color: var(--toode-fade-color);
}

.toode:hover {
  background-color: var(--toode-fade-color);
  border: solid;
  border-width: 4px;
  border-color: var(--toode-fade-color);
  
  & > #tooteinfo {
    color: rgba(255,255,255,1);;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  }
}

#tooteinfo {
  position: relative;
  font-family: "Roboto";
  font-size: 2.5vw;
  color: rgba(255,255,255,0);
  top: 25vw;
  text-align: center;
  text-anchor: middle;
  transition: 0.2s;
  z-index: -2;
}


.toode1 {
  z-index: -2;
  background-image:url('pildid/tootepildid/tshirt.png');
}

.toode2 {
  z-index: -2;
  left: 34.35vw;
  background-image:url('pildid/tootepildid/tshirt2.png');
}

.toode3 {
  z-index: -2;
  left: 67.3vw;
  background-image:url('pildid/tootepildid/tshirt3.png');
}

.toode4 {
  top: 42vw;
  z-index: -2;
  background-image:url('pildid/tootepildid/hoodie.png');
}

.toode5 {
  top: 42vw;
  left: 34.35vw;
  z-index: -2;
  background-image:url('pildid/tootepildid/hoodie2.png');
}

.toode6 {
  top: 42vw;
  left: 67.3vw;
  z-index: -2;
  background-image:url('pildid/tootepildid/cap.png');
}